{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "plugins" : [
    "flow-vars",
    "babel"
  ],
  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  },
  "globals": {
    "process": true,
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "expect": true
  }
}
