npm-debug.log
node_modules/*
!node_modules/app
!node_modules/commands
.tmp
.env
**/.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
yarn.lock

docs
